<div>

  <h5>/editar Autor</h5>
  <p>Utilize o formulário para alterar as informações de um autor.</p>
  <hr />

  <div class="mb-2">
    <strong>{{mensagem}}</strong>
  </div>

  <form [formGroup]="formEdicao" (ngSubmit)="onSubmit()">

    <input type="hidden" formControlName="idAutor">

    <div class="row mb-2" >
        <div class="col-md-5">
            <label>Nome do Autor:</label>
            <input type="text" class="form-control" formControlName="nome"/>




          </div>
        <div class="col-md-2">
          <label>Sexo:</label>
          <select class="form-select" formControlName="sexo">
              <option value="">Selecione</option>
              <option value="M">Masculino</option>
              <option value="F">Feminino</option>
          </select>
        </div>

        <div class="col-md-4">
            <label>E-mail:</label>
            <input type="text" class="form-control" formControlName="email"/>
        </div>

    </div><br>


    <div class="row mb-2">
      <div class="col-md-2">
        <label>Data de Nascimento:</label>
        <input type="date" class="form-control" formControlName="dataNascimento"/>


    </div>


        <div class="col-md-3">
          <label>País de origem:</label>
          <select class="form-select" formControlName="paisOrigem">
              <option value="">Selecione</option>
              <option value="Brasil">Brasil</option>
              <option value="Outros">Outros</option>
          </select>
        </div>

        <div class="col-md-4" >
          <label>CPF: - disponivel apenas para selecao BR</label>
          <input type="text"  autocomplete="off" maxlength="11" class="form-control"
                 placeholder="###.###.###-##"
                 formControlName="cpf" />
        </div>

    </div><br>

    <div class="row mb-2">
        <div class="col-md-12" >
            <input type="submit"
                   class="btn btn-success me-2"
                   value="Atualizar"
                   [disabled]="!formEdicao.valid"

                   />

            <a class="btn btn-light" routerLink="/autor-consulta">
              Consultar Autores
            </a>
        </div>
    </div>


</form>


</div>






