<div>


  <h5>/cadastrar Autor</h5>
  <p>Preencha os campos para incluir um autor.</p>
  <hr />

  <div class="mb-2">
    <strong>{{mensagem}}</strong>
  </div>

  <form [formGroup]="formCadastro" (ngSubmit)="onSubmit()">

      <div class="row mb-2" >
          <div class="col-md-5">
              <label>Nome do Autor:</label>
              <input type="text" class="form-control" formControlName="nome"/>
              <div class="text-danger" *ngIf="form.nome.touched && form.nome.invalid">
                <span *ngIf="form.nome.errors.required">
                  O nome do Autor deve ser preenchido.
                </span>
              </div>

            </div>
          <div class="col-md-2">
            <label>Sexo:</label>
            <select class="form-select" formControlName="sexo">
                <option value="">Selecione</option>
                <option value="M">Masculino</option>
                <option value="F">Feminino</option>
            </select>
          </div>

          <div class="col-md-4">
              <label>E-mail:</label>
              <input type="text" class="form-control" formControlName="email"/>
          </div>

      </div><br>


      <div class="row mb-2">

        <div class="col-md-2">
          <label>Data de Nascimento:</label>
          <input type="date" class="form-control" formControlName="dataNascimento"/>
          <div class="text-danger" *ngIf="form.dataNascimento.touched && form.dataNascimento.invalid">
            Selecione uma data de nascimento.
          </div>

      </div>


          <div class="col-md-3">
            <label>País de origem:</label>
            <select class="form-select" formControlName="paisOrigem">
                <option value="">Selecione</option>
                <option value="Brasil">Brasil</option>
                <option value="outros">Outros</option>
            </select>
          </div>


          <div class="col-md-4" *ngIf="formCadastro.get('paisOrigem')?.value == 'Brasil' ">
            <label>CPF:</label>
            <input id="cpf" type="text"  autocomplete="off" maxlength="14" class="form-control"
                   placeholder="___.___.___-__"  formControlName="cpf" mask="000.000.000-00"
                   />
          </div>


      </div><br>

      <div class="row mb-2">
          <div class="col-md-12" >
              <input type="submit"
                     class="btn btn-success me-2"
                     value="Cadastrar"/>

              <a class="btn btn-light" routerLink="/autor-consulta">
                Consultar Autores
              </a>
          </div>
      </div>

  </form>


</div>

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('#cpf').mask('000.000.000-00');
  });
</script>




 <!-- api dos paises... -->
<script src="https://restcountries.com/v3.1/all.js"></script>

